<mat-card class="example-card">
  <mat-card-header>
    <div fxLayoutAlign="center" fxLayoutGap="100px">
      <mat-card-title>{{card.name}}</mat-card-title>
    </div>
  </mat-card-header>
  <div fxLayoutAlign="center" fxLayoutGap="100px">
    <img mat-card-image [src]="card.pic" alt="Photo of a Shiba Inu">
  </div>
  <mat-card-content>
    <div fxLayoutAlign="center" fxLayoutGap="100px">
             {{card.description}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onLike(card)" [ngClass]="card.likes >= 5 && card.likes &lt; 10 ?'linha-selecao-like': card.likes >= 10 ?'linha-selecao-likes':null">LIKE {{card.likes}}</button>
    <button mat-button (click)="onShare()">SHARE</button>
  </mat-card-actions>
</mat-card>

